In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [2]:
with open("data/processed/train_sample.csv", "r") as f:
    df = pd.read_csv(f)
    f.close()

df.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

In [7]:
df.groupby('is_attributed').describe().stack()

                              app       channel        device             ip  \
is_attributed
0             count  99773.000000  99773.000000  99773.000000   99773.000000
              mean      12.001964    268.976857     21.779860   91072.821575
              std       14.840636    129.715348    259.928394   69624.459455
              min        1.000000      3.000000      0.000000       9.000000
              25%        3.000000    145.000000      1.000000   40462.000000
              50%       12.000000    258.000000      1.000000   79800.000000
              75%       15.000000    379.000000      1.000000  118154.000000
              max      551.000000    498.000000   3867.000000  364757.000000
1             count    227.000000    227.000000    227.000000     227.000000
              mean      32.229075    205.365639     17.986784  171715.154185
              std       33.769395    117.758991     89.035564  106667.455804
              min        3.000000      3.000000      0.000000    2948.000000
              25%       18.000000    113.000000      1.000000   81155.000000
              50%       19.000000    213.000000      1.000000  179080.000000
              75%       35.000000    274.000000      1.000000  256782.500000
              max      261.000000    489.000000    957.000000  358438.000000

                               os
is_attributed
0             count  99773.000000
              mean      22.801780
              std       55.828922
              min        0.000000
              25%       13.000000
              50%       18.000000
              75%       19.000000
              max      866.000000
1             count    227.000000
              mean      30.070485
              std       93.414692
              min        0.000000
              25%       13.000000
              50%       19.000000
              75%       24.000000
              max      866.000000